<div class="my-container">

  <div class="header-paquete">
    <img src="images/guayacanes.jpg" class="img-responsive" alt="travel girl">
    <div class="text">
      <h4>Te espera un mundo de viajes inolvidables.</h4>
      <span class="little-text">Alojamientos, experiencias y lugares</span>
    </div>
  </div>

  <div class="form-paquete">
    <div class="form-options">
      <div class="step {{opcionSelected.key === opc.key ? 'seleccionado' : ''}}"
           ng-repeat="opc in opciones"
           ng-click="opcionSeleccionado(opc)">
        <div class="title text-center">
          {{$index + 1}}. {{opc.nombre}}
        </div>
      </div>
    </div>

    <div class="options-container">
      <div class="option" ng-show="opcionSelected.key === 'disp'">
        <h3 class="text-center">Número de Dias</h3>
        <div class="dias">
          <div class="dia {{dia.selected ? 'seleccionado' : ''}}"
              ng-repeat="dia in dias"
              ng-click="diaSeleccionado(dia)">
            {{dia.numero}}
          </div>
        </div>
      </div>

      <div class="option" ng-show="opcionSelected.key === 'dest'">
        <div class="destinos">
          <div ng-repeat="destino in destinos"
              ng-click="destinoSeleccionado(destino)"
              class="destino col-md-4 {{destino.selected ? 'seleccionado' : ''}}"
              style="background-image:url({{destino.image}})">
              <div class="text">
                <span ng-if="destino.selected" class="glyphicon glyphicon-ok-sign"></span>
                {{destino.nombre}}
              </div>
              <div ng-if="!destino.selected" class="backdrop"></div>
          </div>
        </div>
      </div>

      <div class="option" ng-show="opcionSelected.key === 'serv'">
        <div class="servicios">
          <div ng-repeat="serv in servicios"
              ng-click="servicioSeleccionado(serv)"
              class="servicio {{serv.selected ? 'seleccionado' : ''}}">
            <div class="icon">
              <i class="{{serv.icon}}"></i>
            </div>
            <div class="title">
              {{serv.nombre}}
            </div>
            <div class="check" ng-if="serv.selected">
              <i class="glyphicon glyphicon-ok-sign"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="total-bar">
    <div class="total-tour">
      <div class="resumen">
        <div class="dias">
          <strong>Dias: {{diaCheck}}</strong>
        </div>
        <div class="destinos">
          <strong>Destinos</strong>
          <ul>
            <li ng-repeat="dest in destinosCheck">{{dest}}</li>

          </ul>
        </div>
        <div class="servicios">
          <strong>Servicios</strong>
          <ul>
            <li ng-repeat="serv in serviciosCheck">{{serv}}</li>
          </ul>
        </div>
      </div>
      <div class="total-square">
        <div class="text">
          Costo del Tour
        </div>
        <div class="total">
          {{totalTour()}}$
        </div>
      </div>
    </div>
  </div>

</div>
